[safe]
	directory = /opt/turbopanel/platform/instance
	directory = /opt/turbopanel/platform/daemon
	directory = /opt/turbopanel/platform/ui
	directory = /opt/turbopanel/platform/website
	directory = /home/tp/turbopanel
	directory = /home/tp/turbopaneld
	directory = /home/tp/ui
	directory = /home/tp/website
	directory = /home/vagrant/turbopanel
	directory = /home/vagrant/turbopaneld
	directory = /home/vagrant/ui
	directory = /home/vagrant/website
